/* 背景色 */
body {
    background-color: #f0f0f0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

/* 入力欄 */
input[type="text"] {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c4c4c4, -5px -5px 10px #ffffff;
    color: #444;
    font-size: 2em;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    text-align: left;
}

/* タイピングエリア */
#target_box {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c4c4c4, -5px -5px 10px #ffffff;
    color: #444;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 100px 20px;
    text-align: left;
    text-shadow: 1px 1px #eee;
}

/* スコア */
#correct,
#incorrect {
    font-size: 1em;
    font-weight: bold;
    color: #444;
}

h1 {
    color: #444;
    font-size: 3em;
    margin: 20px 20px auto;
    max-width: 600px;
    text-align: left;
    text-shadow: 1px 1px #eee;
}

/* 段落テキスト */
p {
    color: #444;
    font-size: 1.5em;
    margin: 20px 20px auto;
    max-width: 600px;
    text-align: left;
    text-shadow: 1px 1px #eee;
}

#pressed {
    display: inline-block;
    color: #777;
}

.caret {
    display: inline-block;
    width: 0;
    height: 1.2em;
    border-right: 0.15em solid #333;
    animation: caret 0.8s infinite;
}

@keyframes caret {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}