{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Typing Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
</head>
<body>
    <h1>Typing Game</h1>
    <p>Time left: <span id="time_left"></span></p>
    <p>Current word</p>
    <div id="target_box">
        <span id="target"></span>
    </div>
    <p id="result">input: <span id="result_text"></span></p>
    <p>correct: <span id="correct">0</span>, 
        incorrect: <span id="incorrect">0</span></p>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/type.js' %}"></script>
</html> {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <div class="container">
        <div class="top-container">
            <h1>Typing Game</h1>
            <p class="text">correct: <span id="correct">0</span>, 
            incorrect: <span id="incorrect">0</span></p>
        </div>
        <div id="target_box">
            <ul id="target_list"></ul>
            {% comment %} <span id='pressed'></span><span id="target"></span> {% endcomment %}
        </div>
        <p class="text-line">Time left: <span id="time_left"></span></p>
        <p id="result" class="text-line">input: <span id="result_text"></span></p>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/type.js' %}"></script>
</html>
